<footer>
    <p>&copy; 2024 {{.Config.SiteName}}. All rights reserved.</p>
    {{if .Config.SocialEnabled}}
    <ul>
        <li><a href="{{.Config.SocialX}}" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></li>
        <li><a href="{{.Config.SocialFB}}" target="_blank"><i class="fab fa-facebook-f"></i>Facebook</a></li>
        <li><a href="{{.Config.SocialYT}}" target="_blank"><i class="fab fa-youtube"></i>YouTube</a></li>
    </ul>
    {{end}}
</footer>
